* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* ########################## */
@media ( max-width:600px){
  .footer{
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}