.tech {
    padding-left: 130px;
    margin-top: 60px;
  }
  .tech hr {
    color: #138781;
    width: 400px;
    margin: 10px auto;
  }
  
  .tech h2 {
    font-weight: bold;
    color: #138781;
  }
  
  .tech .card {
    cursor: pointer;
    background-color: #575f5e;
    color: aliceblue;
  }
  
  .tech .tech-icon {
    font-size: 2rem;
    margin-right: 10px;
  }
  
  .tech .card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #138781;
    color: white;
  
    transition: 1s;
  }

  /*#############################*/
  @media ( max-width:600px){
    .tech{
      margin: 0;
      padding: 0;
      margin-top: 45px;
    }
    .tech hr{
      width: 280px;
    }
  }
  
 